/* finditforless.co.uk */




* {font-family: 'Open Sans', sans-serif;color:#565656;}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {font-family: 'Open Sans', sans-serif;color:#565656;}
h1 {margin-bottom:20px;margin-top:15px;}
h4, h5, h6 {margin-bottom:0px;}

i.fa{margin:0 5px;}
.white{color:#FFFFFF}

.strong{font-weight:700 !important}

header a:hover,a:focus{background:#3498db}
input,textarea{border-radius:0 !important;outline: none;
  border:1px solid #DEDEDE !important;
	padding:5px 8px;
  box-shadow:none !important;}
input:focus,textarea:focus{border:1px solid #BEBEBE !important;}
button{background-color:#4D90FE;padding:14px 12px;border-radius:0 !important}
header button:hover{background-color:#0362FD !important}
header .input-group{padding:10px 0}

header.navbar-inverse{background:#2c3e50;border-bottom:none}
.navbar-inverse .navbar-nav > li > a:hover{background:#3498db}
header button.blue{background-color:#4D90FE;border-radius:0;padding:14px 12px}
header button.blue:hover{background-color:#0362FD !important}
header .search-collapse{margin:0 1px;}
header .menu-collapse{border:none;background-color:#4D90FE;border-radius:0;padding:14px 12px;margin:0 1px}
header .login-form{padding:0 30px;padding-bottom:10px;}
header .input-group{min-width:345px}
header .login-form input{width:100%}

header .btn-fb,header .btn-tw{width:100%;margin:3px 0}
header .btn-fb{background:#395897;border:1px solid transparent;}
header .btn-tw{background:#2BABDB;border:1px solid transparent;}
header .btn-fb:hover{background:#153884 !important;border:1px solid transparent;}
header .btn-tw:hover{background:#0473C0 !important;border:1px solid transparent;}
header a{color:#FFFFFF !important}

.ct-search-wrapper{background:#4D90FE;display:none;text-align:right;padding:8px 10px}
.ct-search-wrapper .row{margin:0}

.dropdown-menu > li > a{color:#565656 !important}
header button.login-btn{float:right}

.show{display:block}
.hide{display:none}

section.ct-content-wrapper{background:#FFFFFF}
section.ct-content-wrapper .container{padding-top:100px;}
section.ct-content-wrapper a{color:#565656 !important}
section.ct-content-wrapper a:focus{background:none}

/*  sidebar */
section.ct-content-wrapper .sidebar-content{border:1px solid #CDCDCD;border-top:none;margin:0 0;padding:10px}
section.ct-content-wrapper .sidebar-wrapper h4{padding:8px 10px;margin:0;background:#EAEAEA;}
section.ct-content-wrapper .sidebar-wrapper .search-box-sidebar{margin-bottom:25px;position:relative;}
section.ct-content-wrapper .sidebar-wrapper .search-box-sidebar button.search-btn-2{padding:5px;position:absolute;right:0}
section.ct-content-wrapper .sidebar-wrapper .search-box-sidebar button.search-btn-2:hover{background:#0362FD}
section.ct-content-wrapper .sidebar-wrapper .search-box-sidebar input{width:100%}

section.ct-content-wrapper .sidebar-wrapper .top-search-box{margin:20px 0;border:1px solid #CDCDCD}
section.ct-content-wrapper .sidebar-wrapper .top-search-box h5{background:#EAEAEA;color:#565656;padding:10px 10px;}
section.ct-content-wrapper .sidebar-wrapper .top-search-box div.top-search-box-wrapper{padding:10px}
section.ct-content-wrapper .sidebar-wrapper .top-search-box div{padding:5px 10px}




section.ct-content-wrapper .sidebar-content a{color:#4D90FE !important}
section.ct-content-wrapper .sidebar-content div{padding:3px 10px;color:#4D90FE !important}

section.ct-content-wrapper .sidebar-nav{margin:10px 0}

ul.nav-tabs {border-bottom:1px solid #BEBEBE}
ul.nav-tabs i{margin:0;margin-right:3px}
ul.nav-tabs li{border-bottom:1px solid #BEBEBE}
ul.nav-tabs li.active a{background:#999999;margin:0 2px;border-radius:0}
ul.nav-tabs li a{margin:0 2px;border-radius:0;font-size:12px !important;padding:5px 5px;font-weight:700;color:#FFFFFF !important}
ul.nav-tabs li.active a{color:#FFFFFF !important}
ul.nav-tabs li a:focus,ul.nav-tabs li.active a:focus{}
ul.nav-tabs li a:hover{background:#cdcdcd !important}
ul.nav-tabs li.active a:hover{background:#999999 !important}

ul.nav-tabs li.top a{background:#47A447 !important}
ul.nav-tabs li.top a:hover{background:#3C8C3C !important}
ul.nav-tabs > li.newest > a{background:#34495e !important}
ul.nav-tabs li.newest a:hover{background:#2c3e50 !important}

ul.nav-tabs li.discussed a{background:#e74c3c !important}
ul.nav-tabs li.discussed a:hover, ul.nav-tabs li.discussed .active a:hover{color:#FFFFFF;background:#c0392b !important}
.nav-tabs > li > a:hover, .nav-tabs > li > a{border:1px solid transparent !important}
.nav-tabs > li.active > a:hover, .nav-tabs > li.active > a{border:1px solid transparent !important}


section.ct-content-wrapper .content{padding:0 15px}
section.ct-content-wrapper .content .row{border:1px solid #CDCDCD;margin:0; margin-bottom:20px}
section.ct-content-wrapper .content .item-box {padding:0;}
section.ct-content-wrapper .content .photo-item{text-align:center;padding:15px}
section.ct-content-wrapper .content .description-item{padding:15px}
section.ct-content-wrapper .content-tabs{margin:0}
section.ct-content-wrapper .content .img-wrapper{min-height:145px;}


section.ct-content-wrapper .content .photo-item button{width:100%;margin:3px 0}
section.ct-content-wrapper .content .btn-more{background-color:#2C3E50;color:#FFFFFF}
section.ct-content-wrapper .content .btn-more:hover{background-color:#233344;color:#FFFFFF}

section.ct-content-wrapper .rating-item{padding:0}
section.ct-content-wrapper .rating-item div{text-align:center}
section.ct-content-wrapper .rating-item div{text-align:center}
section.ct-content-wrapper .rating-item .rating-box{}
section.ct-content-wrapper .rating-item .rating-box, section.ct-content-wrapper .rating-item  .add-rating-box, section.ct-content-wrapper .rating-item  .rem-rating-box{padding:15px}

section.ct-content-wrapper .rating-item .rating-box{background:#2C3E50}
section.ct-content-wrapper .rating-item .rating-box h5{color:#FFFFFF}
section.ct-content-wrapper .rating-item .rating-box h1{color:#FFFFFF;margin:0}

section.ct-content-wrapper .rating-item .add-rating-box{background:#47A447;cursor:pointer}
section.ct-content-wrapper .rating-item .add-rating-box:hover{background:#3C8C3C;}
section.ct-content-wrapper .rating-item .add-rating-box:focus{background:#3C8C3C;}
section.ct-content-wrapper .rating-item .add-rating-box h5{color:#FFFFFF;}

section.ct-content-wrapper .rating-item .rem-rating-box{background:#BB2413;cursor:pointer}
section.ct-content-wrapper .rating-item .rem-rating-box:hover{background:#AD1403}
section.ct-content-wrapper .rating-item .rem-rating-box:focus{background:#AD1403}
section.ct-content-wrapper .rating-item .rem-rating-box h5{color:#FFFFFF;}

section.ct-content-wrapper .content .photo-item .btn-photo-group{margin:8px 0}
section.ct-content-wrapper .content .photo-item button{width:100%;margin:4px 0}



section.ct-content-wrapper .content-footer{padding:0 0;background:#ECEEED}
section.ct-content-wrapper .content-footer h5{color:#565656}
section.ct-content-wrapper .content-footer .admin-btn-control{text-align:right;padding:10px 8px;}
section.ct-content-wrapper .content-footer .admin-btn-control a{color:#FFFFFF !important}
section.ct-content-wrapper .content-footer .admin-info-box h5{padding:13px 0}

section.ct-content-wrapper .content-footer .btn-edit{color:#FFFFFF;background:#2C3E50;border-radius:0;}
section.ct-content-wrapper .content-footer .btn-edit:hover{background-color:#233344;color:#FFFFFF}

section.ct-content-wrapper .content-footer button{margin:0 5px;padding:0px 5px;font-size:14px;}

section.ct-content-wrapper h3{margin-top:0}

section.ct-content-wrapper h5{padding:8px 0;margin:0}



@media only screen and (min-width: 320px) {
	.superbox-list {
		width:50%;
	}
	.search-btn{display:none}
	.input-group span{color:#FFFFFF}
	.ct-search-wrapper .container{padding:0}
	.search-box-sidebar{display:none}
	.global-search{display:none}
}
@media only screen and (min-width: 486px) {
	.superbox-list {
		width:25%;
	}
	.search-btn{display:none}
	.input-group span{color:#FFFFFF}
	.ct-search-wrapper .container{padding:0}
	.search-box-sidebar{display:none}
	.global-search{display:none}
}
@media only screen and (min-width: 768px) {
	.superbox-list {
		width:16.66666667%;
	}
	.search-btn{display:inline}
	.input-group span{color:#565656}
	.ct-search-wrapper .container{padding:0 12px }
	.search-box-sidebar{display:block}
	.global-search{display:block}
}
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
img.img-circle {
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
border-radius: 50%;
}