<table class='table' width='900px'>
<tbody>
<tr>

  <td width='15%'><?php echo $this->Html->image('files/'.$item['Offer']['image'], array('class' => "img-rounded", 'width' => '130px', 'height' => '130px'))?></td>
  <td><?php echo (strtotime(date('Y-m-d')) >= strtotime($item['Offer']['end_date']))?'Expired':''?>&nbsp;<span style='font-weight: bold; font-size: 14pt'><?php echo $item['Offer']['title']?></span><br>
      <span style='font-size: 9pt; font-weight: bold'>username</span>&nbsp;<span style='font-size: 9pt'>found <?php echo '?';?> days <?php echo '?'?> hours ago / epxpired <?php echo '?'?> day, <?php echo '?'?> hours ago</span><br>
  	  <span style='color: #595958'><?php echo $item['Offer']['desc']?></span></td>
</tr>
</tbody>
</table>
